{% extends 'trades/base.html' %}
{% block content %}
<!--sidebar starts here-->
<div class="d-flex flex-column flex-shrink-0 text-white bg-dark sidebar"
     style="width: 250px; position:fixed; height: 88%;">
    <ul class="nav nav-pills flex-column mb-auto p-3">
        <li class="nav-item">
            <a href="{% url 'addtrade' %}" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                </svg>
                Add Trade
            </a>
        </li>
        <li>
            <a href="{% url 'tradebook' %}" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg>
                Tradebook
            </a>
        </li>
        <li>
            <a href="{% url 'performance' %}" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#table"></use>
                </svg>
                Performance
            </a>
        </li>
    </ul>
</div>

<!--trade form starts here-->
<div class="container-fluid p-4" style="margin-left: 250px;">
    <div class="container mt-2">
        <main>
            <div class="row g-5">
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">Enter your Trade details</h4>

                    <form class="needs-validation" novalidate="" method="post"
                          action="{% url 'addtrade' %}">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="id_trade_datetime">Trade Date and Time</label>
                                    <input name="trade_datetime" type="datetime-local" class="form-control"
                                           id="id_trade_datetime" placeholder="Select Date and Time">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label for="trade-symbol" class="form-label">Trade Symbol</label>
                                <input name="trade_symbol" type="text" class="form-control" id="trade-symbol"
                                       required>
                                <div class="invalid-feedback">
                                    Valid trade symbol is required.
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label class="form-label">Trade Type</label>
                                <div class="form-check">
                                    <input name="trade_type" value="Buy" class="form-check-input" type="radio"
                                           id="buy">
                                    <label class="form-check-label" for="buy">Buy</label>
                                </div>
                                <div class="form-check">
                                    <input name="trade_type" value="Sell" class="form-check-input" type="radio"
                                           id="sell" checked>
                                    <label class="form-check-label" for="sell">Sell</label>
                                </div>
                                <div class="invalid-feedback">
                                    Valid trade type is required.
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="entry_price" class="form-label">Entry Price</label>
                                <input name="entry_price" type="text" class="form-control" id="entry_price"
                                       required>
                                <div class="invalid-feedback">
                                    Please enter a valid entry price.
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="exit_price" class="form-label">Exit Price</label>
                                <input name="exit_price" type="text" class="form-control" id="exit_price"
                                       required>
                                <div class="invalid-feedback">
                                    Please enter a valid exit price.
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="quantity" class="form-label">Quantity</label>
                                <input name="quantity" type="text" class="form-control" id="quantity" required>
                                <div class="invalid-feedback">
                                    Please enter a valid exit price.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="trade_rationale" class="form-label">Trade Rationale</label>
                                <input name="trade_rationale" type="text" class="form-control"
                                       id="trade_rationale"
                                       placeholder="">
                            </div>
                            <div class="col-md-12">
                                <label for="outcome-analysis" class="form-label">Outcome Analysis</label>
                                <input name="outcome_analysis" type="text" class="form-control"
                                       id="outcome-analysis"
                                       placeholder="">
                            </div>
                            <div class="col-md-12">
                                <label for="emotional-state" class="form-label">Emotional State</label>
                                <input name="emotional_state" type="text" class="form-control"
                                       id="emotional-state"
                                       placeholder="">
                            </div>
                            <div class="col-md-12">
                                <label for="lesson-learned" class="form-label">Lesson Learned</label>
                                <input name="lessons_learned" type="text" class="form-control"
                                       id="lesson-learned"
                                       placeholder="">
                            </div>
                            <div class="col-md-12">
                                <label for="notes" class="form-label">Notes</label>
                                <input name="notes" type="text" class="form-control" id="notes" placeholder="">
                            </div>
                        </div>
                        <hr class="my-4">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">Add Trade</button>
                    </form>

                </div>
            </div>
        </main>

    </div>
</div>


{% endblock %}
