{% extends 'trades/base.html' %}
{% block content %}
<!--sidebar starts here-->
<div class="d-flex">

    <!--sidebar starts here-->
    <div class="d-flex flex-column flex-shrink-0 text-white bg-dark sidebar"
         style="width: 250px; position:fixed; height: 88%;">
        <ul class="nav nav-pills flex-column mb-auto p-3">
            <li class="nav-item">
                <a href="{% url 'addtrade' %}" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    Add Trade
                </a>
            </li>
            <li>
                <a href="{% url 'tradebook' %}" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Tradebook
                </a>
            </li>
            <li>
                <a href="{% url 'performance' %}" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    Performance
                </a>
            </li>
        </ul>
    </div>

    <!--trade form starts here-->
    <div class="container-fluid p-4" style="margin-left: 250px;">
        <div class="container mt-2">
            <main>
                <div class="row g-5">
                    <div class="col-md-7 col-lg-12">
                        <h3>Trade List</h3>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Date & Time</th>
                                <th>Symbol</th>
                                <th>Type</th>
                                <th>Entry Price</th>
                                <th>Exit Price</th>
                                <th>Quantity</th>
                                <th>Rationale</th>
                                <th>Outcome</th>
                                <th>Emotional State</th>
                                <th>Lessons Learned</th>
                                <th>Notes</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for trade in trades %}
                            <tr>
                                <td>{{ trade.trade_datetime }}</td>
                                <td>{{ trade.trade_symbol }}</td>
                                <td>{{ trade.trade_type }}</td>
                                <td>{{ trade.entry_price }}</td>
                                <td>{{ trade.exit_price }}</td>
                                <td>{{ trade.quantity }}</td>
                                <td>{{ trade.trade_rationale }}</td>
                                <td>{{ trade.outcome_analysis }}</td>
                                <td>{{ trade.emotional_state }}</td>
                                <td>{{ trade.lessons_learned }}</td>
                                <td>{{ trade.notes }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </main>

        </div>
    </div>

</div>


{% endblock %}
