{% extends 'trades/base.html' %}
{% block content %}
<!--sidebar starts here-->
<div class="d-flex">

    <!--sidebar starts here-->
    <div class="d-flex flex-column flex-shrink-0 text-white bg-dark sidebar"
         style="width: 250px; position:fixed; height: 88%;">
        <ul class="nav nav-pills flex-column mb-auto p-3">
            <li class="nav-item">
                <a href="{% url 'addtrade' %}" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    Add Trade
                </a>
            </li>
            <li>
                <a href="{% url 'tradebook' %}" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Tradebook
                </a>
            </li>
            <li>
                <a href="{% url 'performance' %}" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    Performance
                </a>
            </li>
        </ul>
    </div>

    <!--trade form starts here-->
    <div class="container-fluid p-4" style="margin-left: 250px;">
        <div class="container mt-2">
            <main>
                <!--notification messages-->
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                {% if trades %}
                <div class="row g-5">
                    <div class="col-md-7 col-lg-12">
                        <h3>Trade List</h3>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <!--<th>tradeid</th>-->
                                <th>Date & Time</th>
                                <th>Symbol</th>
                                <th>Type</th>
                                <th>Entry Price</th>
                                <th>Exit Price</th>
                                <th>Quantity</th>
                                <th>pnl</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for trade in trades %}
                            <tr class="trade-row" data-bs-toggle="modal" data-bs-target="#detailModal"
                                data-trade="{{ trade.trade_datetime }}|{{ trade.trade_symbol }}|{{ trade.trade_type }}|{{ trade.entry_price }}|{{ trade.exit_price }}|{{ trade.quantity }}|{{ trade.pnl }}|{{ trade.trade_rationale }}|{{ trade.outcome_analysis }}|{{ trade.emotional_state }}|{{ trade.lessons_learned }}|{{ trade.notes }}">
                                <!--<td>{{ trade.id }}</td>-->
                                <td>{{ trade.trade_datetime }}</td>
                                <td>{{ trade.trade_symbol }}</td>
                                <td>{{ trade.trade_type }}</td>
                                <td>{{ trade.entry_price }}</td>
                                <td>{{ trade.exit_price }}</td>
                                <td>{{ trade.quantity }}</td>
                                <td>{{ trade.pnl }}</td>
                                <td>
                                    &nbsp;
                                    <a href="{% url 'update_trade' trade.pk %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd"
                                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                        </svg>
                                    </a>
                                    &nbsp;
                                    <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                       data-id="{{ trade.pk }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                {% else %}

                <h2 class="row justify-content-md-center">oops...no records found.</h2>

                {% endif %}

            </main>

        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this trade?
                </div>
                <div class="modal-footer">
                    <form id="deleteForm" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="trade_id" id="tradeId">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--    modal to display the detailed information.-->
    <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel">Trade Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li><strong>Date & Time:</strong> <span id="tradeDateTime"></span></li>
                        <li><strong>Symbol:</strong> <span id="tradeSymbol"></span></li>
                        <li><strong>Type:</strong> <span id="tradeType"></span></li>
                        <li><strong>Entry Price:</strong> <span id="entryPrice"></span></li>
                        <li><strong>Exit Price:</strong> <span id="exitPrice"></span></li>
                        <li><strong>Quantity:</strong> <span id="quantity"></span></li>
                        <li><strong>PNL:</strong> <span id="pnl"></span></li>
                        <li><strong>Rationale:</strong> <span id="rationale"></span></li>
                        <li><strong>Outcome:</strong> <span id="outcome"></span></li>
                        <li><strong>Emotional State:</strong> <span id="emotionalState"></span></li>
                        <li><strong>Lessons Learned:</strong> <span id="lessonsLearned"></span></li>
                        <li><strong>Notes:</strong> <span id="notes"></span></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteModal = document.getElementById('deleteModal');
        var deleteForm = document.getElementById('deleteForm');

        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; // Button that triggered the modal
            var tradeId = button.getAttribute('data-id'); // Extract trade ID from data attribute
            var actionUrl = "{% url 'trade-delete' 0 %}".replace(/0$/, tradeId); // Update URL with trade ID

            deleteForm.action = actionUrl; // Update form action URL
            document.getElementById('tradeId').value = tradeId; // Set trade ID in hidden field
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var detailModal = document.getElementById('detailModal');
        var tradeRows = document.querySelectorAll('.trade-row');

        tradeRows.forEach(function (row) {
            row.addEventListener('click', function () {
                var data = this.dataset.trade.split('|');

                document.getElementById('tradeDateTime').textContent = data[0];
                document.getElementById('tradeSymbol').textContent = data[1];
                document.getElementById('tradeType').textContent = data[2];
                document.getElementById('entryPrice').textContent = data[3];
                document.getElementById('exitPrice').textContent = data[4];
                document.getElementById('quantity').textContent = data[5];
                document.getElementById('pnl').textContent = data[6];
                document.getElementById('rationale').textContent = data[7];
                document.getElementById('outcome').textContent = data[8];
                document.getElementById('emotionalState').textContent = data[9];
                document.getElementById('lessonsLearned').textContent = data[10];
                document.getElementById('notes').textContent = data[11];
            });
        });
    });

</script>

{% endblock %}