body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.navbar-color {
    background-color: #F1EFE7!important;
}

.league-spartan {
    font-family: 'League Spartan', sans-serif;
    font-size: 40px; /* Adjust size as needed */
    font-weight: 700; /* Adjust weight to make it thicker */

}

.sidebar {
        position: fixed;
    }



.content {
    /* Any additional styles for the content */
}